*{
   
    box-sizing: border-box;
}

body{

    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}
form{
    max-width: 600px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    background-color: #f4ede6;
    color: #9c5c44;
    font-size: 20px;
}

label, input, button { 
     width: 100%;
}
.error{
    color: red; 
    font-size: 0.8em; 
}
button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    background-color: #513125;
    color: white;
}

button:hover {
    background-color: #9c5c44; 
    cursor: pointer;
    color: white;
}
